.StepFive {
    text-align: center;
}

.StepFive h1 {
    margin-top: 1em;
}

.StepFive p {
    line-height: 1.8em;
}

@media screen and (max-width: 850px) {
    .StepFive {
        padding-block: 4em;
    }
}
