@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

:root {
    /* ### Primary */

    --Marine_blue: hsl(213, 96%, 18%);
    --Purplish_blue: hsl(243, 100%, 62%);
    --Pastel_blue: hsl(228, 100%, 84%);
    --Light_blue: hsl(206, 94%, 87%);
    --Strawberry_red: hsl(354, 84%, 57%);

    /* ### Neutral */

    --Cool_gray: hsl(231, 11%, 63%);
    --Light_gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

.App {
    min-height: 100vh;
    display: grid;
    place-items: center;

    background: var(--Magnolia);
}

.container {
    max-width: 850px;
    margin: auto;
    padding: 2em;
}

.App > .container {
    display: grid;
    grid-template-areas: "left right" "left bottom";
    gap: 3em;
    background: var(--White);
    border-radius: 10px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
    padding-top: 2em;
}

.bottom {
    grid-area: bottom;
}

.right,
.bottom {
    padding-left: 1em;
    padding-right: 3em;
}
